<form action="/sale/create" method="POST" class="form-sign-in">
	<h2>New Sale</h2>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="123" name="customer">
	</div>
</form>