<div class="container">
	<div class="jumbotron">
		<h1>Welcome to Inventool</h1>
		<h2>Inventory tracking for all businesses.</h2>
		<a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a> 
	</div> 
</div>