<tr data-id="<%= dataId %>">
	<td attr="lineItemName">
		<!-- name -->
		<div class="dropdown open">
		  <input class="btn btn-secondary dropdown-toggle productAttr" type="text" placeholder="product name" id="productMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  </input>
		  <div class="dropdown-menu" aria-labelledby="productMenuBtn">

		  </div>
		</div>
	</td>
	<td attr="lineItemUnitPrice">
		<!-- unit price -->
	</td>
	<td attr="lineItemQuantity">
		<!-- quantity -->

		<div class="form-group">
			<input type="integer" class="form-control productAttr" placeholder="1" name="quantity" value="1">
		</div>
	</td>		
	<td attr="lineItemTotalPrice">
		<!-- line item total price -->
		$0.00
	</td>
</tr>